{% load game_tag %}
<!-- header -->
<header class="header">
    <div class="container-fluid px-lg-5">
        <!-- nav -->
        <div class="all-header">
            <nav class="py-4">

                <div class="logo">
                    <a href="/" id="logo"></a>

                </div>


                <label for="drop" class="toggle"></label>
                <input type="checkbox" id="drop">

                <ul class="menu mt-2">

                    <li>
                        <!-- First Tier Drop Down -->
                        <input type="checkbox" id="drop-2">
                        <ul>
                            {% for genre in view.get_genres %}
                            <li><a href="{% url 'genre_view' genre.url%}" align="center">{{ genre.name }}
                            </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="home_page home_page__style">
                        <a href="/">HOME</a>
                    </li>


                    <li>
                        {% if user.is_authenticated %}
                        <li class="home_page home_page__style">
                            <a href="/profile/">{{ user.username}}</a>
                        </li>
                        <span class="home_page">
                        <a href="{% url 'account_logout' %}" ;> EXIT</a></span> {% else %}
                        <a href="{% url 'account_login' %}" class="home_page">LOG IN
                    </a> {% endif%}
                    </li>
                </ul>
            </nav>
        </div>

        <!-- //nav -->
    </div>
</header>
<!-- //header -->
<!--/banner-->
<!--// banner-inner -->