{% load game_tag %}



<form action="{% url 'filter' %}" method="get" name="filter" class="bar-home">

    <div class="left-side ganre_list">
        <div class="sear-head" onclick="showCheckboxes()">
            Genres
        </div>




        <div id="checkboxes">
            <div class="w3layouts-box-list" id="w3layouts-box-list__ganre">
                {% for genre in view.get_genres %}
                <li class="checkbox_list_year" id="checkbox_list_year">

                    <input type="checkbox" class="custom-checkbox" name="genre" id="{{ genre.id }}" value="{{ genre.id }}">
                    <label for="{{ genre.id }}">{{ genre.name }}</label>
                </li>
                {% endfor %}


            </div>
        </div>

    </div>






    <!-- // preference -->
    <!-- discounts -->

    <div class="left-side">
        <div class="sear-head" onclick="showCheckboxestwo()">
            Year
        </div>
        <div id="checkboxestwo">
            <div class="w3layoutstwo-box-list w3layouts-box-list__year" id="w3layouts-box-list__year">
                {% for game in view.get_years %}
                <li class="checkbox_list_year">
                    <input type="checkbox" class="custom-checkbox" name="year" id="{{ game.year }}" value="{{ game.year }}">

                    <label for="{{ game.year }}">{{ game.year }}</label>
                </li>
                {% endfor %}
            </div>
        </div>
    </div>

    <button class="poisksleva" type="submit">Find</button>
</form>
<!-- {% get_last_games count=3 %} -->