{% load game_tag %}

    

<form action="{% url 'filter' %}" method="get" name="filter" class="bar-home">
    
    <div class="left-side ganre_list" >
        <div onclick="showCheckboxes()">
            <h3 class="sear-head editContent" >Жанры</h3>
        </div>


        

        <div id="checkboxes">
        <div class="w3layouts-box-list">
            {% for genre in view.get_genres %}
                <li class="checkbox_list_year">
                    <input type="checkbox" class="checked" name="year" value="{{ genre.id }}">
                    <span class="span editContent">{{ genre.name }}</span>
                </li>
            {% endfor %}
        </div>
        </div>
        
    </div>






    <!-- // preference -->
    <!-- discounts -->

    <div class="left-side">
        <div onclick="showCheckboxestwo()">
            <h3 class="sear-head editContent">Год</h3>
        </div>
        <div id="checkboxestwo">
        <div class="w3layoutstwo-box-list">
            {% for game in view.get_years %}
                <li class="checkbox_list_year">
                    <input type="checkbox" class="checked" name="year" value="{{ game.year }}">
                    <span class="span editContent">{{ game.year }}</span>
                </li>
            {% endfor %}
        </div>
        </div>
    </div>
    <button class="poisksleva"
        type="submit">Найти</button>
</form>
 <!-- {% get_last_games count=3 %} -->

