/*--Нормальный стиль --*/
/*--Стиль хэдера --*/
.header 
{
    position: static;

    width: 100%;
    height: 110px;

    background-color: #5C407A;
}
/*--Стиль лого хэдера --*/
#logo
{
    background: url("../images/logosuper.png") ;
    
    
    display: inline-block;

    width: 100px;
    height: 100px;

    background-size: cover;

    left: 200px;
    top: 5px;
}
.logo_header:hover, :focus 
{
    
	-webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/*--Стиль поиска хэдера --*/
.search-bar-w3layouts-newsletter
{
    display: inline-block;
    float: left;
    margin-top: -5px;
    margin-right: 125px;

    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

    outline:none;
}
.search-bar-w3layouts-newsletter input
{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #4F4F4F;

	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form-control 
{
 	width: 445px;
	height: 40px;
	background: #FFFFFF;
	border-radius: 8px;
	border: #FFFFFF;

}
.form-control:hover, :focus 
{
	text-decoration:none; 
	border: #FFFFFF;
	-webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*--Стиль элементов хэдера кроме лого и поиска--*/
.button-header
{
    display: inline-block;
	position: absolute;

	top:40px;
	right: 100px;

	height: 30px;
	

   
}
.home_page a
{
    text-decoration: none;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;

    
}
.home_page
{
	display: inline-block;
	margin-right: 125px;
}
.username
{
	display: inline-block;
    
}
.username-button
{
	text-decoration: none;
    display: inline-block;

    font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 28px;

	align-items: center;
	text-align: center;

 	color: #FFFFFF;

    
}
.vhod-button
{

    text-decoration: none;
    display: inline-block;

    font-family: Roboto;
	font-style: normal;
	font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    
    align-items: center;
    text-align: center;

    color: #FFFFFF;

}
/*--Конец Стиль хэдера --*/

/*--Конец нормального стиля --*/
html,
body {
    margin: 0;
    
    background: #fff;
   
    scroll-behavior: smooth;
}





input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    outline: none;
    outline: 0;
    outline-offset: 0;
    outline:none;
}

h1 {
    font-family: Roboto;
}

h2 {
    font-family: Roboto;
}

h3 {
    font-family: Roboto;
}
/*--Здесь стиль названий игр под играми --*/
h4 {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
/* identical to box height */


margin-top:15px;
align-items: center;

color: #333333;
}
/*--Здесь стиль жанров в главном экране под играми --*/
.money
{
	display: inline;
	font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
/* identical to box height */



color: #727272;

margin-top:15px;
align-items: center;
}
/*--Здесь стиль звезд в главном экране под играми --*/
.stars li
{
	color: #5C407A;
	display: inline-block;
}
.fa
{
	color: #5C407A;
}
.stars
{
	margin-top:-24px;
	float: right; 
	margin-right: 9px;
}
h5 {
    font-family: Roboto;
}

h6 {

    font-family: Roboto;

}


ul {
    margin: 0;
    padding: 0;

}

body img {
    border-radius: 6px;

    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
}

.breadcrumb,


/*--/header --*/

/* header */

/* CSS Document */
.Jenisei
{
	position: relative;
	margin-top: 50px;
	margin-left: 20px;
}


.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */

nav {

    margin: 0;
    padding: 0;
}




#logo a:hover {


    filter: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));



}

.editContent {
   outline: none;
   text-decoration:none; 
   color: inherit;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {

    content: "";
    display: table;
    clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */

nav ul {

    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */

nav ul li {

    display: inline-block;
    float: left;
}

/* Styling the links */
















/* Background color change on Hover */

nav .menu li a:hover {


    text-shadow: 0px 0px 25px #FFFFFF;

}



.row {

}



.btn1_btn {
    display: block;
    margin-left: -535px;
    background-color: #fff;
    position: relative;

    height: 22px;
    /* Высота блока */
    width: 22px;
    padding: 1px;
    border: 0px;
    margin-top: 6px;
    background: url("../images/megasearch.png") 100% 100% no-repeat;
    /* Добавляем фон */
    background-size: cover;
    /* Масштабируем фон */

    border-spacing: 0;
    z-index: 20;

    transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

nav .btn1_btn {
    display: block;
}

.btn1_btn:hover {
    filter: drop-shadow(0px 4px 4px #5C407A);
}

.btn1_btn:active,
.btn1_btn:focus {
    outline: none;
    filter: drop-shadow(0px 4px 4px #5C407A);
}

/* Низ */
.GameReviewer {
    color: #333333;
    position: relative;
    margin-top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: medium;
    font-size: 36px;
    line-height: 42px;
}

.GameReviewer:hover {
    background: linear-gradient(180deg, #842BE2 0%, rgba(0, 0, 0, 0.54) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Opisanie {
    font-size: 16px;
    position: relative;
    margin-top: 0px;
    margin-left: 10px;
    color: #4F4F4F;
    font-family: Roboto;
    font-style: normal;
    font-weight: medium;
    line-height: 22px;
}

.followfooter {
    font-size: 20px;
    position: relative;
    color: #333333;
    position: relative;
    margin-top: 30px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}


.razdelifooter {
    color: #333333;
    position: relative;
    margin-left: -10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
}

.razdeliminifooter {
    font-size: 16px;
    position: relative;
    margin-top: 20px;
    color: #4F4F4F;
    font-family: Roboto;
    font-style: normal;
    font-weight: medium;
    line-height: 20px;
}

.contactinfomini {
    font-size: 16px;
    position: relative;
    margin-top: 20px;
    color: #4F4F4F;
    font-family: Roboto;
    font-style: normal;
    font-weight: medium;
    line-height: 20px;
}

.contactinfofooter {
    color: #333333;
    position: relative;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
}

.Passilkya {
    color: #333333;
    position: relative;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 24px;
}

.knopkavverh {


    background-color: #fff;
    position: absolute;
    right: 50px;
    
    height: 50px;
    /* Высота блока */
    width: 50px;



    background: url("../images/vverh.png") 100% 100% no-repeat;
    /* Добавляем фон */
    background-size: cover;
    /* Масштабируем фон */
    display: block;
    border-spacing: 0;
}

.knopkavverh:hover {
    filter: drop-shadow(0px 0px 10px #5C407A);
}

/* Жанры */


.w3layouts-box-list {}

.sear-head {}

/* Игры на главной */

.img-fluid {
    width: 234px;
	height: 302px;


	border-radius: 6px;
}

/* Жанры год найти */
.sear-head {
    color: #333333;
    position: relative;
    top: -8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;

}

.poisksleva {

    color: #333333;

    background: #fff;
    position: relative;
    border: none;
    outline: 0 !important;
    font-family: Roboto;
    font-weight: bold;
    font-size: 28px;

}

.poisksleva:hover {

    outline: none;

}

/* Последние */
.deal-leftmk {
    position: relative;
}


.poslednie {
    color: #333333;
    position: relative;
    top: 15px;
    left: -5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
}

.img-deals {

    width: 90px;
    height: 120px;
}

.img-fluid2 {

    left: -18px;
    top: 10px
}

.img-deal1 {
    color: #4F4F4F;
    position: absolute;
    left: 38px;
    margin-top: 6px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
}

/* Одна игра */

.desc1-right {
    color: #4F4F4F;

    font-family: Roboto;
    font-style: normal;

    font-size: 16px;
}

.OdnaName {
    color: #333333;

    font-family: Roboto;
    font-style: bold;

    font-size: 26px;
}

.shareslovo {
    color: #4F4F4F;

    font-family: Roboto;
    font-style: normal;

    font-size: 18px;
    position: relative;
    left: 0px;
}

.shop-sing {
    color: #333333;
    position: relative;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;

    font-size: 28px;
}

.shop-sing-opis {
    color: #333333;
    position: relative;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;

    font-size: 18px;
}

.mt-3 .btn .btn-success .btn-block .py-3 {
    background: #333333;
}

.ava {
    width: 90px;
    height: 90px;
}

/* Регистрация */

.regwhite {
    position: relative;
    top:30px;
    width: 1232px;
    height: 766px;

    margin-left: auto;
    margin-right: auto;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.vhodreal1 {
    position: relative;
    text-align: center;
    color: #333333;


    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    top: 111px;
}
.vhodreal0 {
    position: relative;
    text-align: center;
    color: #333333;


    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    top: 50px;
}
.vhodreal3 {
    position: relative;
    text-align: center;
    color: #333333;


    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    top: 120px;
}

.vhodreal2 {
    position: relative;
    text-align: center;
    color: #5C407A;


    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    top: 111px;
}

.buttonreg {
    position: relative;
    text-align: center;
}

.primaryAction {
    position: relative;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;


    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;


    width: 326px;
    height: 51px;
    background: #5C407A;
    border-radius: 6px;
}
.primaryAction:hover {
    outline: none;
}
.primaryAction2 {
    position: relative;
    margin-top: 450px;
    margin-left: auto;
    margin-right: auto;


    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;


    width: 326px;
    height: 51px;
    background: #5C407A;
    border-radius: 6px;
}
.primaryAction2:hover {
    outline: none;
}
.primaryAction3 {
    position: relative;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;


    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;


    width: 326px;
    height: 51px;
    background: #5C407A;
    border-radius: 6px;
}
.primaryAction3:hover {
    outline: none;
}
.zabil
{

	position: relative;
	margin-top: 40px;
	color:#4F4F4F;
	font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}

.nezabil
{
	position: relative;
	text-align: center;
	top: 275px;
	color:#4F4F4F;
	font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}

.knopkanorm
{
	position: relative;
	top:70px;
	margin-top: -10px;
	margin-left: auto;
    margin-right: auto;
	width: 326px;
	height: 51px;
}
.knopknorm:hover
{
	outline: #5C407A;
}
.knopknorm:active
{
	outline: #5C407A;
}
.knopkanorm2
{
	position: relative;
	top:60px;
	margin-top: -10px;
	margin-left: auto;
    margin-right: auto;
	width: 326px;
	height: 51px;
}
.knopknorm2:hover
{
	outline: #5C407A;
}
.knopknorm2:active
{
	outline: #5C407A;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */

nav ul ul {


    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 30px;
    background: #fff;
    padding: 10px;

}

/* Display Dropdowns on Hover */

nav ul li:hover>ul {
    display: inherit;

}

/* Низ */

/* Игрульки главная */
/* Fisrt Tier Dropdown */

nav ul ul li {

    width: 170px;
    float: none;
    display: list-item;
    position: relative;


}

nav ul ul li a {
    color: #333;
    padding: 5px 10px;
    display: block;

}

/* Second, Third and more Tiers 
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/

nav ul ul ul li {
    position: relative;
    top: -60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left: 170px;

}


/* Change ' +' in order to change the Dropdown symbol */

li>a:only-child:after {
    content: '';
}


/* Media Queries
--------------------------------------------- */
