{% extends 'games/games_base.html'%} {% load static %} {% block title %} GR | {{ developer.name }} {% endblock title%} {% block container %}
<div class="container py-md-3">
    {% endblock container %} {% block game %}
    <div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="desc1-left col-md-6">
                <img src="{{ developer.image.url }}" class="img-fluid" alt="">
            </div>
            <div class="desc1-right col-md-6 pl-lg-4">
                <div class="OdnaName" style="outline: none; cursor: inherit;">
                    {{ developer.name }}
                </div>
                <h5 class="editContent"></h5>
                <ul>
                    <li style="list-style: none">
                        <span><div class="desc1-right-b">Год:</div>
                            <div class="desc1-right-b-two">
                                {{ developer.date }}</div></span>

                        <li style="list-style: none">
                            <span><div class="desc1-right-b">Разработчик:</div>
                                <div class="desc1-right-b-two">
                                    {% for game in developer.game_developer.all %}
                                {{ game.title }};
                                {% endfor %}
                            </div>
                            </span>


                        </li>
                        <li style="list-style: none">
                            <span><div class="desc1-right-b">Издатель:</div>
                                <div class="desc1-right-b-two">
                                    {% for game in developer.game_publisher.all %}
                                {{ game.title }};
                                {% endfor %}
                            </div>

                                
                            
                            </span>
                        </li>
                </ul>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">
            <h3 class="shop-sing editContent">
                О {{ developer.name }}
            </h3>
            <p class="shop-sing-opis">
                {{ developer.description|safe }}
            </p>
        </div>
    </div>
    {% endblock game%}