{% extends 'games/games_base.html' %}
{% block header %} bg1 {% endblock header %}
{% block game %}
<div class="left-ads-display col-lg-9">
    <div class="row games_page_gr">
        <!--
        <iframe src="https://discord.com/widget?id=270935505548476416&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>-->
        
        <div class="elfsight-app-07390897-7d61-481e-9040-10167707b457"></div>
        {% for game in game_list %}
        <div class="col-md-4 product-men">
            <div class="product-shoe-info editContent text-center mt-lg-4">
                <div class="men-thumb-item">
                    <a href="{{ game.get_absolute_url }}">
                        <img src="{{ game.poster.url}}" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="item-info-product">
                    <div class="item-info-product-name">
                        <a href="{{ game.get_absolute_url }}" class="editContent">
                            {{ game.title }}
                        </a>
                    </div>
                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money editContent">
                                {% for genre in game.genre.all %}
                                {{ genre.name }}
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                    <ul class="stars">
                        <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star-half" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="" aria-hidden="true"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="grid-img-right mt-4 text-right bg bg1">
        {% include 'include/pagination.html' %}
    </div>
</div>
{% endblock game %}
